<!DOCTYPE html>
<html>
    <head>
        <title>
            Forgot Password Page
        </title>
    </head>
    <body>

            <h1>
                <div>
                    Change Password Here
                </div>
            </h1>
            <form action="" onsubmit="return false" method="post">
                <div>
                <div>
                    <label for="email">email :    </label><br>
                    <input type="email" id="email" name="email" placeholder="Your Email"><br>

                </div>
                <div>
                    <label for="phone">PhoneNo. : </label><br>
                    <input type="tel" id="phone" name="phone" placeholder="Your Phone No." maxlength="10"><br>

                </div>
                <div>
                    <label for="npassword">New Password : </label><br>
                    <input type="password" id="npassword" name="npassword" placeholder="Your Password(max 8 characters)" maxlength="8"><br>

                </div>
                <div>
                    <label for="rnpassword">Re-Enter Password : </label><br>
                    <input type="password" id="rnpassword" name="rnpassword" placeholder="Your Password(max 8 characters)" maxlength="8"><br>

                </div>
                <div>
                <center>
                    <label for="otp">OTP : </label><br>
                    <input type="number" id="otp" name="otp" placeholder="Enter the 6-digit OTP"  max="999999"><br>

                </center>
                </div>
                <div><br>
                 <center><input type="submit" value="SUBMIT" onclick = "formvalidation()"></center>
                </div>
                <div>
                    <center><p><a href="/login">Login</a></p></center>
                </div>
                </div>
                <div>
                    <center><p><a href="/home">HOME</a></p></center>
                </div>
            </form>
    </body>
</html>