<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gangesh Basker</title>
</head>
<body>
    <h1>SHOP KART</h1>
    <div>
        <center><p><a href="/signup">Signup</a></p></center>
    </div>
    <div>
        <center><p><a href="/login">Login</a></p></center>
    </div>
    <div>
        <center><p><a href="/studentform">STUDENT FORM</a></p></center>
    </div>
    <div>
        <center><p><a href="/ValidateMobile">MOBILE NUMBER VALIDATION</a></p></center>
    </div>
    <div>
        <center><p><a href="/input">INPUT TO TABLE</a></p></center>
    </div>
</body>
</html>