<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtered Vehicles</title>
</head>
<body>
    <h1>Filtered Vehicles</h1>

    {% if vehicles %}
        <ul>
            {% for vehicle in vehicles %}
                <li>
                    {{ vehicle.type_of_vehicle }} - {{ vehicle.brand }} - {{ vehicle.model_name }} -
                    {{ vehicle.kilometers }} km - {{ vehicle.base_price }}
                    <br>
                    Contact: {{ vehicle.contact_number }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No vehicles match your criteria.</p>
    {% endif %}
</body>
</html>
